
body {
    background-color:#ee3839;
}

.container {
    background-color:#ffffff;
    border:1px solid #000000;
    margin:30px auto;
    padding:30px;
    width:70%;
}

img#logo {
    width:250px;
}

.incident-date {
    color:#999;
    font-family:Verdana, Geneva, sans-serif;
    font-size:80%;
    font-style:italic;
    margin:0px 0px 10px 0px;
    padding:0;
}

.incident-image {
    float:right;
    margin: 0px 0px 0px 20px;
    width:200px;
}

.incident-more-info {
    color:#999;
    font-family:Verdana, Geneva, sans-serif;
    font-size:80%;
    margin:0;
    padding:0;
    text-transform:uppercase;
}

.incidents-header {
    font-family:'Arial Black', Gadget, sans-serif;
    font-size:32px;
    margin:0px 0px 5px 0px;
    padding:0;
}

.incidents-intro {
    color:#8f2222;
    font-family:Verdana, Geneva, sans-serif;
    font-size:16px;
    font-style:italic;
    line-height:20px;
    margin:0px 0px 15px 0px;
    padding:0;
}

p { margin:0;
    padding:0;
    text-align:justify;
}

h3.incident-summary {
    margin:0;
    padding:0;
}

.spacer {
clear:both;
line-height:1px;
}

.spacer10 {
clear:both;
line-height:10px;
}

.spacer40 {
clear:both;
line-height:40px;
}
